/* RESET GENERAL */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: 'Inter', sans-serif;
}

.vh-100 { height: 100vh !important; }
.z-index-top { z-index: 1080 !important; }

.list-container {
  flex: 1;
  overflow-y: auto !important;
  background-color: #fff;
}

/* PC Y TABLET (md en adelante) */
@media (min-width: 768px) {
  .sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .map-wrapper {
    height: 100%;
  }
}

/*MODO MOBILE (Responsive) */
@media (max-width: 767.98px) {
  #root, .vh-100 {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  .flex-column-mobile {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
  }

  .map-wrapper {
    flex: 0 0 50% !important; 
    height: 50% !important;
    order: 1;
    position: relative;
  }

  .sidebar-container {
    flex: 0 0 50% !important;
    height: 50% !important;
    order: 2;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #dee2e6;
    background-color: white;
    overflow: hidden;
  }

  .p-3, .p-md-4 {
    padding: 0.75rem !important;
  }
}